*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #003B46;
    min-height: 77px;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 0 28px;
    border-bottom: 1px solid #929292;
    gap: 20px;
}

.logo {
    max-width: 120px;
    max-height: 53px;
    justify-self: start;
}

.userAvatar{
    max-width: 50px;
    max-height: 50px;
}

.userAvatarsShell{
    max-width: 120px;
    display: flex;
    justify-content: flex-end;
    justify-self: end;
}

