*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.allPosts{
    width: min(92vw, 760px);
    max-width: 760px;
    margin: 0 auto;
    max-height: calc(100vh - 18vh);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.2rem;
    padding: 1.2rem 1rem;
    align-items: start;
    justify-items: center;
}


.allPosts::-webkit-scrollbar {
  width: 0;
}

.allPosts {
  scrollbar-width: none;
}


.addPost{
    width: 100%;
    height: 5.5rem;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: white;
    border-radius: 12px;
    background-color: #07575B;
    cursor: pointer;
}


.modal {
	display: flex;
	flex-direction: column;
	width: 100%;
  height: 400px;
	top: 100%;
	gap: 10px;
	background-color: #ebe7e7;
	padding: 10px;
	
}