*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.allPosts{
    width: min(92vw, 760px);
    max-width: 760px;
    margin: 0 auto;
    max-height: calc(100vh - 18vh);
    overflow-y: auto;
    display: grid;
    grid-auto-rows: min-content;
    gap: 1.2rem;
    padding: 1.2rem 1rem;
    align-items: start;
    justify-items: center;
}


.allPosts::-webkit-scrollbar {
  width: 0;
}

.allPosts {
  scrollbar-width: none;
}


.addPost{
  width: 100%;
  height: 5.5rem;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: white;
  border-radius: 12px;
  background-color: #07575B;
  cursor: pointer;
}


.modal {
  width: 773px;
  background-color: #07575B;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: 640px;
  gap: 10px;
}



.headerButton{
  background-color: #003B46;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerModal{
  display: flex;
  width: 100%;
  height: 57px;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  border-bottom: 2px solid black;
  gap: 10px;
}