*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parentElement{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #003B46;
    overflow: hidden;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
}