*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.filterDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 723px;
    height: 40px;
    background-color: #07575B;
    border-radius: 12px;
}

.filterText{
    font-size: 24px;
    color: white;
}

.likes{
    width: 69px;
    height: 32px;
    border-radius: 11px;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #66A5AD;
    color: white;
    padding-top: 8.5px;
    padding-left: 17px;
    z-index: 10;
}

.likes p {
    margin: 0;
}

.tags{
    width: 69px;
    height: 32px;
    border-radius: 11px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-top: 8.5px;
    padding-left: 17px;
    background-color: #66A5AD;
    color: white;
    z-index: 10;
}

.tags p {
    margin: 0;
}



.tripleDots{
    width:20px;
    height: 20px;
    margin-left: 23px;
}

.postImage{
    width: 182px;
    height: 243px;
}

.allPosts{
    height: 593px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}


.addPost{
    width: 723px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    color: white;
    border-radius: 12px;
    background-color: #07575B;
}

.arrowBtn{
    width: 26px;
    height: 26px;
}

.expanded{
    width: 113px;
    height: 109px;

}
