*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: #003B46;
    width: 100%;
    gap: 16px   ;
}
