*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .main {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: start;
    padding-top: 1.2vh;
    background-color: #003B46;
    width: 100%;
    gap: 1rem;
    overflow: visible;
} */
