.comment{
    display: flex;
    background-color: #07575B;
    border-radius: 10px;
    color: white;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.userData{
    width: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.userAvatar{
    width: 50px;
    height: 50px;
}



