html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #003B46;
    height: 77px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 28px;
    border-bottom: 1px solid #929292
}
.logo {
    width: 120px;
    height: 53px
}
.main {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #003B46;
    width: 100%;
    height: 100%;
}
.welcomeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.welcomeTitle {
    font-size: 43px;
    color: white;
    font-weight: bold;
    margin-bottom: -20px;
}
.welcomeDescription {
    width: 850px;
    font-size: 34px;
    color: #919191;
    text-align: center
}
.linkToReg {    
    font-size: 43px;
    color: #C4DFE6;
    font-weight: light;
}

.home{
    width: 100vw;
    height: 100vh;
}