html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.registrationBody{
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #003B46;
  margin-left: "-8px";  
}

