*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.entry{
    max-width: 490px;
    width: 100%;
    border-radius: 1234px;
    background-color: #66A5AD;
    min-height: 52px;
    display: flex;
    padding-left: 24px;
    border: 0;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #F2F2F2;
    outline: none;
}

.entry::placeholder {
    color: #F2F2F2;
    opacity: 0.7;
}

.entry:focus {
    background-color: #7AB5BD;
}