.comments{
    display: flex;
    flex-direction: column;
    gap: 13px;
    min-width: 472px;
    overflow: scroll;
}

.entryShell{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.sendComment{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #064649;
    border-radius: 10px;
    cursor: pointer;
}

.sendImage{
    width: 25px;
    height: 25px;
}

.onlyComment{
    display: flex;
    max-height: 500px;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
}